<h2>Contact Form</h2>
<form action="/contacts" method="post">
  <p>Enter the contact's first name:<input type="text" name="first_name"</p>
  <p>Enter the contact's middle name:<input type="text" name="middle_name"</p>
  <p>Enter the contact's last name:<input type="text" name="last_name"</p>
  <p>Enter the contact's email:<input type="text" name="email"</p>
  <p>Enter the contact's phone number:<input type="text" name="phone_number"</p>
  <p>Enter the contact's bio:<input type="text" name="bio"</p>
  <p><input type="submit" value="submit new contact"></p>
</form>