<h2>Contact Information</h2>
<h3>Name: <%= @contact.full_name%></h3>
<p>Email: <%= @contact.email%></p>
<p>Phone Number: <%= @contact.phone_number%></p>
<p>Bio: <%= @contact.bio %></p>
<p><a href="/contacts/<% @contact.id %>" data-method="delete" rel="nofollow">Delete this contact</a></p>
<hr>
<a href="/contacts">Return to all contacts</a>
